* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

.text {
  font-weight: 200;
  font-size: 1.4rem;
  line-height: 1.85rem;
}

img {
  display: block;
}

.header {
  display: grid;
  align-content: center;
  padding: 2.5rem 10%;
  min-height: 110vh;
  background-image: url(assets/homepage/hero-bg-desktop.jpg);
  background-size: cover;
  isolation: isolate;
}
.header::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 40%;
  height: 110vh;
  background-color: #0c0c0c;
  z-index: -1;
}
.header.second {
  position: relative;
  min-height: 90vh;
  background-image: url(assets/booking/hero-bg-desktop.jpg);
}
.header.second::after {
  background-color: transparent;
  height: 90vh;
}
.header.second .form {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10%;
  bottom: -20%;
  background-color: #fff;
  padding: 2.5rem;
  width: min(550px, 90%);
  gap: 1.75rem;
}
.header.second .form::after {
  content: "";
  position: absolute;
  left: -80px;
  top: calc(100% - 38px);
  width: 160px;
  height: 76px;
  background-image: url(assets/patterns/pattern-lines.svg);
  z-index: -1;
}
.header.second .form input {
  padding: 0.75rem 1rem;
  border: none;
  outline: none;
  border-bottom: 1px solid #5c6779;
  font-size: 1.5rem;
  font-weight: 200;
}
.header.second .form .form-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.header.second .form .form-section .name {
  font-size: 1.4rem;
  font-weight: 300;
}
.header.second .form .form-section input {
  max-width: 100px;
}
.header.second .form .form-section input::-moz-placeholder {
  text-align: center;
}
.header.second .form .form-section input::placeholder {
  text-align: center;
}
.header.second .form .form-section .time {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #5c6779;
  width: 100px;
  position: relative;
  cursor: pointer;
}
.header.second .form .form-section .time-name {
  font-size: 1.5rem;
  font-weight: 200;
  color: #5c6779;
}
.header.second .form .form-section .time .arrow-icon {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header.second .form .form-section .time.active .box {
  display: flex;
}
.header.second .form .form-section .time.active .arrow-icon {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.header.second .form .form-section .time .box {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0.7rem 1.25rem rgba(0, 0, 0, 0.1882352941);
  padding: 1rem;
}
.header.second .form .form-section .time .box-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 200;
  cursor: pointer;
}
.header.second .form .form-section .time .box-item img {
  visibility: hidden;
}
.header.second .form .form-section .time .box-item.active img {
  visibility: visible;
}
.header.second .form .form-section .time .box-item:hover {
  opacity: 0.5;
}
.header.second .form .people {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #5c6779;
}
.header.second .form .people img {
  width: 15px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header.second .form .people img:hover {
  opacity: 0.5;
}
.header.second .form .people .name {
  font-size: 1.4rem;
  font-weight: 600;
}
.header.second .form .btn {
  color: #fff;
  border: 1px solid #111;
  background-color: #111;
  padding: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  width: min(240px, 100%);
  text-align: center;
  letter-spacing: 0.25rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
}
.header.second .form .btn:hover {
  color: #111;
  background-color: #fff;
}
.header .logo {
  display: block;
  margin-top: -10rem;
}
.header .title {
  font-size: 5rem;
  color: #fff;
  font-weight: 200;
  max-width: 600px;
  line-height: 5rem;
}
.header .text {
  color: #fff;
  max-width: 550px;
  padding: 1.5rem 0 2rem;
}
.header .btn {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  padding: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  width: min(240px, 100%);
  text-align: center;
  letter-spacing: 0.25rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .btn:hover {
  color: #111;
  background-color: #fff;
}

.feature {
  display: flex;
  align-items: center;
  padding: 0 10%;
  gap: 7.5%;
  margin-top: -4rem;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}
.feature::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(assets/patterns/pattern-curve-top-right.svg);
  background-repeat: no-repeat;
  left: 0;
  top: 50%;
  z-index: -1;
}
.feature-image {
  background-image: url(assets/homepage/enjoyable-place.jpg);
  background-size: cover;
  width: 100%;
  height: min(700px, 50vw);
}
.feature .content {
  flex-basis: 100%;
}
.feature .content .heading {
  font-size: 3rem;
  color: #17192b;
  padding: 3rem 0 1rem;
  font-weight: 600;
}
.feature.second {
  flex-direction: row-reverse;
  margin-top: 7.5rem;
  margin-bottom: -4rem;
}
.feature.second .feature-image {
  position: relative;
  background-image: url(assets/homepage/locally-sourced.jpg);
}
.feature.second .feature-image::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(assets/patterns/pattern-lines.svg);
  background-repeat: no-repeat;
  left: 90%;
  top: calc(50% - 38px);
}
.feature.second::after {
  background-image: url(assets/patterns/pattern-curve-top-left.svg);
  left: 45%;
  top: calc(100% - 320px - 4rem);
}

.banner {
  display: flex;
  padding: 10rem 10%;
  background-color: #111;
  color: #fff;
  gap: 7.5%;
}
.banner .content {
  flex-basis: 100%;
}
.banner .content .heading {
  font-size: 3rem;
  padding: 3rem 0 1rem;
  font-weight: 600;
}
.banner .row {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}
.banner .row .item {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.banner .row .item:nth-child(1) {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #242b37;
}
.banner .row .item:nth-child(2) {
  padding: 1.5rem 0;
}
.banner .row .item:nth-child(3) {
  padding-top: 1.5rem;
  border-top: 1px solid #242b37;
}
.banner .row .item .name {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
.banner .row .item .text {
  font-size: 1.25rem;
}
.banner .row .item .item-image {
  min-width: 140px;
  height: 100px;
  background-size: cover;
  position: relative;
}
.banner .row .item .item-image::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 100%;
  width: 2rem;
  height: 0.05rem;
  background-color: #9e7f66;
}
.banner .row .item .item-image.first {
  background-image: url(assets/homepage/salmon.jpg);
}
.banner .row .item .item-image.second {
  background-image: url(assets/homepage/beef.jpg);
}
.banner .row .item .item-image.third {
  background-image: url(assets/homepage/chocolate.jpg);
}

.article {
  display: flex;
  align-items: center;
  padding: 10rem 10%;
  gap: 7.5%;
  position: relative;
  isolation: isolate;
}
.article::after {
  content: "";
  position: absolute;
  background-image: url(assets/patterns/pattern-curve-top-right.svg);
  background-repeat: no-repeat;
  left: -20%;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.article-image {
  width: 100%;
  height: min(700px, 50vw);
  background-size: cover;
  position: relative;
}
.article-image::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(assets/patterns/pattern-lines.svg);
  background-repeat: no-repeat;
  left: -10%;
  top: -38px;
}
.article-image.family {
  background-image: url(assets/homepage/family-gathering-desktop.jpg);
}
.article-image.special {
  background-image: url(assets/homepage/special-events-mobile.jpg);
}
.article-image.social {
  background-image: url(assets/homepage/social-events-mobile.jpg);
}
.article .content {
  width: 100%;
}
.article .content .heading {
  font-size: 3rem;
  color: #17192b;
  font-weight: 600;
}
.article .content .text {
  padding: 0.5rem 0 1.5rem;
}
.article .content .btn {
  color: #fff;
  border: 1px solid #111;
  background-color: #111;
  padding: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  width: min(240px, 100%);
  text-align: center;
  letter-spacing: 0.25rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.article .content .btn:hover {
  color: #111;
  background-color: #fff;
}
.article .content .choices {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 5rem;
}
.article .content .choices .choice {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.15rem;
  font-size: 1.1rem;
  cursor: pointer;
  color: #5c6779;
}
.article .content .choices .choice.active {
  color: #111;
  position: relative;
}
.article .content .choices .choice.active::after {
  content: "";
  position: absolute;
  left: -16.5%;
  top: calc(50% - 1px);
  width: 14%;
  height: 1px;
  background-color: #9e7f66;
  z-index: -1;
}

.reservation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7rem 10%;
  background-image: url(assets/homepage/ready-bg-desktop.jpg);
  background-size: cover;
}
.reservation .heading {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
}
.reservation .btn {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  padding: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  width: min(240px, 100%);
  text-align: center;
  letter-spacing: 0.25rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.reservation .btn:hover {
  color: #111;
  background-color: #fff;
}

.booking-image {
  width: 100%;
  height: 320px;
  background-image: url(assets/patterns/pattern-curve-bottom-right.svg);
  background-repeat: no-repeat;
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5rem 10%;
  background-color: #111;
}
.footer .item {
  flex-basis: 100%;
}
.footer .item .logo {
  display: block;
}
.footer .item .footer-text {
  color: #fff;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 1100px) {
  .banner {
    flex-direction: column;
    gap: 5rem;
  }
  .banner .content {
    text-align: center;
  }
  .banner .content img {
    margin: auto;
  }
  .header.second {
    min-height: 100vh;
    align-content: flex-start;
  }
  .header.second .form {
    right: 50%;
    bottom: -20%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
  }
}
@media screen and (max-width: 900px) {
  .feature,
  .article {
    flex-direction: column !important;
    gap: 3.5rem;
  }
  .feature .content,
  .article .content {
    text-align: center;
  }
  .feature .content .heading,
  .article .content .heading {
    padding: 2rem 0 1rem;
  }
  .feature .content img,
  .article .content img {
    margin: auto;
  }
  .feature .feature-image,
  .article .feature-image {
    background-image: url(assets/homepage/enjoyable-place-tablet.jpg);
  }
  .feature.second,
  .article.second {
    margin-bottom: 5rem;
  }
  .feature.second .feature-image,
  .article.second .feature-image {
    background-image: url(assets/homepage/locally-sourced-tablet.jpg);
  }
  .feature .article-image,
  .article .article-image {
    background-position: center;
  }
  .feature .article-image .family,
  .article .article-image .family {
    background-image: url(assets/homepage/family-gathering-tablet.jpg);
  }
  .feature .article-image .special,
  .article .article-image .special {
    background-image: url(assets/homepage/special-events-tablet.jpg);
  }
  .feature .article-image .social,
  .article .article-image .social {
    background-image: url(assets/homepage/social-events-tablet.jpg);
  }
  .reservation {
    flex-direction: column;
    text-align: center;
    gap: 2.5rem;
    background-image: url(assets/homepage/ready-bg-tablet.jpg);
  }
  .footer {
    flex-direction: column;
    gap: 2.5rem;
    text-align: center;
  }
  .footer .item {
    margin: auto;
  }
  .header {
    background-image: url(assets/homepage/hero-bg-tablet.jpg);
    background-position: center;
    text-align: center;
  }
  .header.second {
    background-image: url(assets/booking/hero-bg-tablet.jpg);
  }
  .header .text,
  .header .logo,
  .header .btn,
  .header .title {
    margin: auto;
  }
  .header .logo {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .header::after {
    background-color: transparent;
  }
}
@media screen and (max-width: 700px) {
  .header {
    padding: 2.5rem 5%;
    background-image: url(assets/homepage/hero-bg-mobile.jpg);
  }
  .header.second {
    background-image: url(assets/booking/hero-bg-mobile.jpg);
  }
  .header .title {
    font-size: 4rem;
    line-height: 4rem;
  }
  .feature {
    padding: 0 5%;
  }
  .banner,
  .article {
    padding: 10rem 5%;
  }
  .banner .row .item,
  .article .row .item {
    flex-direction: column;
    text-align: center;
  }
  .banner .row .item-image,
  .article .row .item-image {
    width: 80%;
    height: min(300px, 50vw) !important;
    background-position: center;
  }
  .reservation {
    padding: 5rem 5%;
    background-image: url(assets/homepage/ready-bg-mobile.jpg);
  }
  .footer {
    padding: 5rem 5%;
  }
  .footer .footer-text {
    padding-bottom: 1rem !important;
  }
  .heading {
    font-size: 2.25rem !important;
  }
  .form {
    padding: 1.75rem !important;
  }
  .form .form-section .name {
    display: none;
  }
  .form .form-section input {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */